<!DOCTYPE html>
<html>

    <head>

        <title>Song Finder</title>

        <style>
        
            html {
                background-color: rgba(0, 0, 0, 0.897);
                color: #ff562c;
            }

            #title-block {
                text-align: center;
                font-size: 40px;
                line-height: 20px;
                padding-top: 20px;
            }

        </style>

    </head>

    <body>

        <div id="title-block">
            <h1 id="heading">Song Finder</h1>
            <h5 id="tagline">Find new music fast.</h3>
        </div>

    </body>

</html>